<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="./assets/logo.png"
      width="30" height="30" class="d-inline-block align-top" alt="">
      FullTrueque
    </a>


    <div ngbDropdown class="d-inline-block" *ngIf="userLogged|async as user; else btnIngresar">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>

           {{user.displayName?user.displayName : user.email}}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem [routerLink]="'/despliegue'" >Ver Objetos</button>
        <button ngbDropdownItem (click)="logout()">Salir</button>
      </div>
    </div>
      <ng-template #btnIngresar>
        <button class="btn btn-outline-primary" routerLink="/login">Ingresar</button>
      </ng-template>
  </nav>
