<div class="container">
  <div class="card text-center">
     <div class="card-header">
        <b>Bienvenido a FullTrueque</b>
     </div>
     <div class="card-body p-4">
      <div [routerLink]="'/login'">
        <button class="btn btn-primary btn-block m-2"><b>Ingresa a la aplicación</b></button>
      </div>
      <div [routerLink]="'/register'">
        <button class="btn btn-success btn-block m-2"><b>¡Registrate!</b></button>
      </div>
      <div>
      </div>
     </div>
  </div>
</div>

